/* Reset */
* {
  box-sizing: border-box;
}

/* Body */
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

/* Title */
h1 {
  margin-top: 20px;
}

/* Score info */
.info {
  font-size: 18px;
  margin: 10px 0;
}

/* Start button */
#startBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}

/* Game Area */
#gameArea {
  width: 300px;
  height: 300px;
  border: 3px solid black;
  margin: 0 auto;
  position: relative;   /* VERY IMPORTANT */
  background: white;
}

/* Box */
#box {
  width: 80px;
  height: 80px;
  background: red;
  position: absolute;   /* VERY IMPORTANT */
  display: none;
  cursor: pointer;
  border-radius: 8px;
}
